@charset "utf-8";
/* CSS Document */
Body {
	background-image:url(../imgs/bg_def.png);
	font:9pt tahoma;
	text-align:right;
	direction:rtl;
	width:1000px;
	margin:0 auto;
	padding-top:150px;
}
a {
	text-decoration:none;
	color:#666;
}
#main {
	width:755px;
	float:left;
	background-color:#FFF;
	border:1px #DCE3EF solid;
	height:405px;
	border-radius:10px;
}
#profile {
	width:240px;
	position: fixed;
	float:right;
	background-color:#FFF;
	border:1px #CCCCCC solid;
	border-radius:4px;
	margin-top:-20px;
	margin-right:20px;
}
#profilefooter {
	width:215px;
	position: fixed;
	float:right;
	background-color:#F4F4F4;
	border:1px #CCCCCC solid;
	border-radius:0px 0px 4px 4px;
	margin-top:192px;
	margin-right:28px;
	padding:4px;
	border-top:none;
	color:#666;
	font:8pt tahoma;
    -moz-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    box-shadow: 2px 2px 2px #ccc;
}
#profilebox {
	width:215px;
	position: fixed;
	float:right;
	background-color:#F4F4F4;
	border:1px #CCCCCC solid;
	border-radius:4px;
	margin-top:225px;
	margin-right:28px;
	padding:4px;
	color:#666;
	font:8pt tahoma;
    -moz-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    box-shadow: 2px 2px 2px #ccc;
}